.container {
  padding: 20px;
  cursor: pointer;
  background-color: #eb5e28;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: white;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
