.container {
  padding: 0 30px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 5px;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #ff7d00;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.username {
  font-size: 14px;
  padding: 6px;
}
.contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo {
    margin-top: 10px;
  }
  .links {
    margin-bottom: 10px;
    font-size: 16px;
    gap: 10px;
  }
  .username {
    display: none;
  }
  .logout {
    padding: 4px;
  }
}
